<html>

<head>
    <title>Name table</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid #999;
            padding: 5px;
        }
    </style>
</head>

<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
</div>
<div>
    <form method="post" action="add">
        <input type="text" name="name" placeholder="Enter Name">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Add</button>
    </form>
</div>
<div>
    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="Name to find">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Find</button>
    </form>
</div>

{{#error}}
    <div>
        <b><i>{{error}}</i></b>
    </div>
{{/error}}

<div>
    <table>
        <thead>
        <th>Id</th>
        <th>Name</th>
        </thead>
        <tbody>
        {{#articles}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
            </tr>
        {{/articles}}
        </tbody>
    </table>
</div>
</body>
</html>