<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
</div>
<div>
    <form method="post" action="add">
        <input type="text" name="name" placeholder="Enter Name">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Add</button>
    </form>
</div>
<div>
    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="Name to find">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Find</button>
    </form>
</div>
<div>
    <form method="post" action="truncate">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Truncate</button>
    </form>
</div>
{{#error}}
    <div>
        <b><i>{{error}}</i></b>
    </div>
{{/error}}

{{#articles}}
    <div>
        <span><b>{{id}}</b></span>
        {{name}}
    </div>
{{/articles}}
</body>
</html>